@import "../../../styles/breakpoints.scss";

.wrapper {
    gap: 0.8em;
    display: grid;

    @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        // gap: 1.3em 1.6em;
    }
    @include breakpoint(lg) {
        grid-template-columns: repeat(4, 1fr);
    }
}
