@import "../../../styles/breakpoints.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.error__boundary {
    position: fixed;
    background-color: #fff;
    inset: 0;
    z-index: 33;
    font-family: $workSans;
    color: $primary-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    h1 {
        font-size: 25px;
        font-weight: 600;
    }

    p {
        font-size: 14px;
    }

    button {
        color: #fff;
        width: 150px;
    }

    .wrapper__content {
        max-width: 80%;
        margin-inline: auto;

        & > * + * {
            margin-top: 20px;
        }
    }

    @include breakpoint(sm) {
        h1 {
            font-size: 30px;
            font-weight: 500;
        }
        .wrapper__content {
            max-width: 70%;
        }
        p {
            font-size: 16px;
        }
    }

    @include breakpoint(md) {
        h1 {
            font-size: 45px;
        }

        .wrapper__content {
            max-width: 550px;
        }
    }
}
