@import "../../../styles/colors.scss";
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    min-height: 40px;

    &.primary {
        background: $accent-color;
        color: white;
    }

    &.transparent {
        border: 1px solid;
    }

    &.transparent-primary {
        color: $accent-color;
        @extend .transparent;
    }

    &.transparent-danger {
        color: $text-danger;
        @extend .transparent;
    }
}
