@import "utility";

/*Josh's Custom CSS Reset @ https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    // overflow-wrap: break-word;
    font: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

#root,
#__next {
    isolation: isolate;
}

/* Font Declaration */

@font-face {
    font-family: "Avenir Next";
    src: url("/fonts/avenir/Avenir Next Font.ttf") format("truetype");
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
