@import "../../../styles/constants.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    height: $headerHeight;
    z-index: 1;
    padding-inline: 30px;
    font-family: $workSans;
    color: $accent-darker;

    display: grid;
    align-items: center;

    .nav {
        display: grid;
        grid-template-columns: $gridArea;
        align-items: center;

        img {
            height: 27px;
        }
    }

    .header__right {
        display: grid;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        margin-inline: 40px;
    }

    .header__content {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.7em;

        svg {
            margin-inline: 40px 30px;
        }
    }

    a {
        color: inherit;
        font-family: $fallback;
    }

    .header__search {
        max-width: 400px;
    }

    .avatar {
        display: flex;
        align-items: center;
        gap: 0.7em;

        p {
            font-weight: 500;
        }

        img {
            height: 48px;
            width: 48px;
        }
    }
}
