@import "../../../styles/constants.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.header {
    position: sticky;
    top: 0;
    padding-inline: 10px;
    background-color: #fff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    height: $headerHeight;
    z-index: 2;
    font-family: $workSans;
    color: $accent-darker;

    display: grid;
    align-items: center;

    .nav {
        display: grid;
        grid-auto-flow: column;
        align-items: center;

        @include rangedBreakPoint(sm) {
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint(sm) {
            grid-template-columns: $gridArea;
        }

        @include rangedBreakPoint(xs) {
            margin-inline: 10px;
        }
    }

    button {
        height: 25px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: none;
    }

    .header__right {
        @include breakpoint(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            & > form {
                display: initial;
            }
        }

        @include rangedBreakPoint(xs) {
            margin-inline: 0px;
        }
    }

    .header__content {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.7em;
        // border: 1px solid green;

        svg {
            margin-inline: 40px 30px;
        }

        @media (max-width: 991px) {
            gap: 1.2em;
            button {
                display: inline-block;
            }

            a {
                display: none;
            }

            svg {
                margin-inline: 10px;
            }
        }

        @include rangedBreakPoint(xs) {
            svg {
                margin-inline: 0;
            }

            p {
                display: none;
            }
        }
    }

    a {
        color: inherit;
        font-family: $avenir;
        font-weight: 500;
    }

    .header__search {
        max-width: 400px;

        @media (max-width: 991px) {
            display: none;
        }
    }

    .avatar {
        display: flex;
        align-items: center;
        gap: 0.7em;

        p {
            font-weight: 500;
        }

        img {
            height: 48px;
            width: 48px;
        }
    }

    .logo__wrapper {
        display: flex;
        gap: 20px;

        img {
            max-height: 28px;
            object-fit: cover;
        }

        @include breakpoint(xl) {
            padding-inline: 30px;
        }

        @include rangedBreakPoint(lg) {
            button {
                display: inline-block;
            }
        }
    }
}
