@import "../../../styles/fonts.scss";
@import "../../../styles/constants.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.main {
    font-family: $workSans;
    color: $primary-color;
    display: grid;
    grid-auto-flow: column;

    & > * {
        padding-block: calc($headerHeight / 2) 70px;
    }

    .outlet {
        padding-inline: 4.6%;

        & > * {
            padding-top: 20px;
        }
    }

    @include breakpoint(xl) {
        grid-template-columns: $gridArea;
    }

    @media (max-width: 1199px) {
        .outlet {
            margin-left: 20px;
        }
    }
}
