@import "../../../styles/fonts.scss";
@import "../../../styles/constants.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.main {
    font-family: $workSans;
    color: rgba($color: $primary-color, $alpha: 0.8);
    grid-auto-flow: column;
    // overflow: hidden;

    & > * {
        padding-block: calc($headerHeight / 2) 70px;
    }

    .outlet {
        padding-inline: 4.6%;
    }

    @include breakpoint(md) {
        .outlet {
            padding-inline: 30px;
        }
    }
    @include breakpoint(xl) {
        grid-template-columns: $gridArea;
        display: grid;
        .outlet {
            padding-inline: 60px;

            & > * {
                padding-top: 20px;
            }
        }
    }

    @include rangedBreakPoint(lg) {
        .outlet {
            margin-left: 50px;
        }
    }
}
