@import "../../../styles/breakpoints.scss";

.table {
    display: none;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 30px;

    & > * {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 16px;
    }

    .table__content,
    .table__header {
        .table__desktop {
            display: none;
        }

        .personal__info {
            display: grid;
            gap: 5px;
        }
    }

    .span2 {
        grid-column: span 2;
    }
    .span3 {
        grid-column: span 3;
    }

    @include breakpoint(xl) {
        & > * {
            gap: 30px;
        }
    }
    @include breakpoint(md) {
        max-width: 100%;
        & > * {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }
    }

    @include breakpoint(lg) {
        .table__content,
        .table__header {
            .table__tablet {
                display: none;
            }

            .table__desktop {
                display: flex;
            }
        }

        & > * {
            grid-template-columns: repeat(9, 1fr);
        }
    }

    .table__header {
        white-space: nowrap;
        margin-bottom: 20px;

        & > div {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 4px;

            svg {
                cursor: pointer;
            }
        }
    }

    .table__content {
        padding-block: 23px;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);

        & > * {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        font-size: 0.85rem;

        &:last-of-type {
            border-bottom: none;
        }

        .status {
            align-items: center;
            justify-content: space-between;
            gap: 4px;
        }
    }

    @include breakpoint(md) {
        display: block;
    }
}

.wrapper {
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 30px;
    overflow-x: auto;

    .control__header {
        display: none;
    }

    @media (max-width: 400px) {
        padding-inline: 15px;
    }

    @media (max-width: 550px) {
        .control__header {
            display: initial;
            color: transparent;
        }
    }

    @include breakpoint(md) {
        display: none;
    }
}

.mobile__table {
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    th {
        text-align: left;
        font-weight: 600;
        // white-space: nowrap;
    }

    tr {
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);

        &:last-of-type {
            border: none;
        }
    }

    td,
    th {
        padding: 20px 10px;
    }

    .meta__info {
        display: flex;
        justify-content: space-between;
        gap: 1px;
        align-items: center;
    }
}
